/* body{
    background-color: rgb(200, 204, 223);
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}
a{
    text-decoration: none;
    color:white;
}

*{
    box-sizing: border-box;
} */


/* fallback 30%/70% float layout */



